{% extends 'base.html' %}
{% load divide_by %}
{% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            {% if repeat_count == 'Finished' %}
                <div class="text-center mb-6">
                    <i class="fa fa-check-circle icon-6x text-success"></i>
                    <h3>
                        The survey has been successfully finished!
                    </h3>
                    <a class="font-weight-normal" href="/survey">
                        Please click here to answer some final questions and get your payment code
                    </a>
                </div>
            {% endif %}
            {% if product %}
                <table class="table table-responsive mb-0 cart-table cart-table-summary">
                    <thead>
                    <tr>
                        <th class="w-15">Item</th>
                        <th class="w-15">Claimed Quality</th>
                        <th class="w-15">Real Quality</th>
                        <th class="w-15">Price</th>
                        <th class="w-15">Real Quality / Price Ratio</th>
                        <th class="w-15">Bonus</th>
                        <th class="w-15">Final Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Cart item -->
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>{{ product.fake_quality }}</td>
                        <td>{{ product.real_quality }}</td>
                        <td>${{ product.price }}</td>
                        <td>{{ raw_score }}</td>
                        <td>{{ bonus }}</td>

                        <td><span class="font-weight-bold"> {{ total_score }} </span></td>
                    </tr>
                    </tbody>
                </table>
                <hr class="my-4 hr-lg"/>

            {% endif %}
            {% if repeat_count != 'Finished' %}
                <div class="text-center">
                    <a href="/list"
                       class="btn btn-primary btn-rounded btn-lg">
                        Go to next attempt</a>
                </div>
            {% endif %}
        </div>

    </div>


{% endblock %}