{% extends 'base.html' %} {% load divide_by %} {% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            <div class="text-center mb-6">
                <i class="fa fa-flask icon-6x text-warning mb-3"></i>
                <h3>
                    This is the experiment control page, please use with caution
                </h3>
                <br>
                <p>Randomise 20 products for each experiment (Curent data: {{ line }} lines): <a href="/control/random" class="btn btn-primary btn-sm">Confirm</a></p>
                <p>Clear all current products: <a href="/control/delete" class="btn btn-primary btn-sm">Confirm</a></p>
                <p>Clear all current products: <a href="/control/clean" class="btn btn-primary btn-sm">Clean Session</a></p>
            </div>
        </div>
    </div>
{% endblock %}