{% extends 'base.html' %} {% load num_range %} {% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content" class="py-3">
    <div class="container">
        <div class="row">
            <!-- Products grid -->
            <div class="col-lg-9 push-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        {% for product in products %}
                        <!-- Product 2 -->
                        <div class="card product-card mb-4">
                            <!-- Content -->
                            <div class="card-block p-3 pos-relative row">
                                <!-- Image content -->
                                <div class="col-md-4 mb-2 mb-md-0">
                                    <img class="rounded img-fluid" src="/media/{{ product.img }}" alt="Card image cap">
                                </div>
                                <!-- Product details -->
                                <div class="col-md-8 d-flex flex-column align-items-start">
                                    <p class="text-muted text-uppercase text-xs mb-0"><span class="text-primary">{{ product.category1 }}</span> / {{ product.category2 }}</p>

                                    <h4 class="card-title mb-2">
                                        <a href="#" class="text-grey-dark">{{ product.title }}</a>
                                    </h4>
                                    <p class="font-weight-bold">${{ product.price }}</p>
                                    <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right">QUALITY: {{product.fake_quality}}
                                    </p>
                                    <p class="text-muted text-xs">
                                        {{ product.description }}
                                    </p>
                                    <div class="mt-auto">
                                        <a href="/add/{{ product.id }}" class="btn btn-primary btn-sm"><i class="fa fa-cart-plus mr-2"></i> Add to Cart</a>
                                        <p class="text-primary text-xs d-inline hidden-md-down ml-3">{{ product.amount }} in stock</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- Call to action -->
                <!--<div class="my-3" data-url="#">
                    <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-danger" />
                    <div class="pos-relative">
                        <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
                        <div class="p-4 text-center bg-danger">
                            <h2 class="display-4 font-weight-normal text-uppercase text-white my-0 text-slab">
                                Clearance Sale
                            </h2>
                            <h4 class="text-white mb-0 text-slab">
                                Price reductions on 1000s of items!
                            </h4>
                        </div>
                    </div>
                    <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
                </div>
                <!-- Pagination -->
                <!--<nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
                                </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next"> <span
                                        aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span> </a>
                        </li>
                    </ul>-->
                </nav>
            </div>
            <!-- Products sidebar -->
            <div class="col-lg-3 pull-lg-9">

                <!-- Sections Menu-->
                <ul class="nav nav-section-menu mb-4 py-3">
                    <li class="nav-header">Collections</li>
                    <li>
                        <a href="#BOOKS" data-toggle="collapse" class="nav-link text-uppercase text-slab first active">
                                BOOKS
                                <i class="fa fa-angle-right"></i>
                            </a>
                        <ul class="nav nav-section-menu collapse show" id="books">
                            <li><a href="#" class="nav-link">Textbooks</a></li>
                            <!--<li><a href="#" class="nav-link">Shirts</a></li>
                            <li><a href="#" class="nav-link">Trousers</a></li>
                            <li><a href="#" class="nav-link">Suits</a></li>
                            <li><a href="#" class="nav-link">Jackets</a></li>
                            <li><a href="#" class="nav-link">Sportswear</a></li>
                            <li><a href="#" class="nav-link">Shorts</a></li>
                            <li><a href="#" class="nav-link">Swimwear</a></li>
                            <li><a href="#" class="nav-link">T-shirts</a></li>-->
                        </ul>
                    </li>
                    <!--<li>
                        <a href="#womens" data-toggle="collapse" class="nav-link text-uppercase text-slab"> Womens
                                <i class="fa fa-angle-right"></i> </a>
                        <ul class="nav nav-section-menu collapse" id="womens">
                            <li><a href="#" class="nav-link">Dresses</a></li>
                            <li><a href="#" class="nav-link">Jeans</a></li>
                            <li><a href="#" class="nav-link">Skirts</a></li>
                            <li><a href="#" class="nav-link">Suits</a></li>
                            <li><a href="#" class="nav-link">Jackets</a></li>
                            <li><a href="#" class="nav-link">Sportswear</a></li>
                            <li><a href="#" class="nav-link">Shorts</a></li>
                            <li><a href="#" class="nav-link">Swimwear</a></li>
                            <li><a href="#" class="nav-link">T-shirts</a></li>
                        </ul>
                    </li>-->
                    <!--<li>
                        <a href="#childrens" data-toggle="collapse" class="nav-link text-uppercase text-slab">
                                Childrens <i class="fa fa-angle-right"></i> </a>
                        <ul class="nav nav-section-menu collapse" id="childrens">
                            <li><a href="#" class="nav-link">Shoes</a></li>
                            <li><a href="#" class="nav-link">Sports Wear</a></li>
                            <li><a href="#" class="nav-link">School Clothes</a></li>
                            <li><a href="#" class="nav-link">Trousers</a></li>
                            <li><a href="#" class="nav-link">Suits</a></li>
                            <li><a href="#" class="nav-link">Jackets</a></li>
                            <li><a href="#" class="nav-link">Sportswear</a></li>
                            <li><a href="#" class="nav-link">Swimwear</a></li>
                            <li><a href="#" class="nav-link">T-shirts</a></li>
                        </ul>
                    </li>-->
                    <!--<li>
                        <a href="#baby" data-toggle="collapse" class="nav-link text-uppercase text-slab"> Baby <i
                                    class="fa fa-angle-right"></i> </a>
                        <ul class="nav nav-section-menu collapse" id="baby">
                            <li><a href="#" class="nav-link">Newborn</a></li>
                            <li><a href="#" class="nav-link">Toddler</a></li>
                            <li><a href="#" class="nav-link">Preschool</a></li>
                            <li><a href="#" class="nav-link">Winter Suits</a></li>
                            <li><a href="#" class="nav-link">Jackets</a></li>
                            <li><a href="#" class="nav-link">Sportswear</a></li>
                            <li><a href="#" class="nav-link">Swimwear</a></li>
                            <li><a href="#" class="nav-link">T-shirts</a></li>
                            <li><a href="#" class="nav-link">Trousers</a></li>
                        </ul>
                    </li>-->
                </ul>
                <!--<div class="p-3 overlay overlay-op-5 rounded flex-valign mb-4" data-bg-img="assets/img/shop/promo-truck.jpg" data-css='{"background-position":"center bottom"}'
                    data-url="#">
                    <!--<h4 class="text-white mb-0">
                        Free Shipping
                    </h4>
                    <p class="text-white mb-0">On all orders over $100</p>
                    <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
                </div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}