{% extends 'base.html' %}
{% load divide_by %}
{% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            <div class="mb-6">
                <p class="text-center"><strong>Welcome to the study!</strong></p>
                <p> In this study, you will be asked to make a choice. </p>
                <p> The purpose of this study is to understand more about consumer decision-making.</p>
                <p> Before making this choice, you will be asked to read a set of instructions.
                    Please read the instructions on the following screens very carefully. After you read the instructions, you will be asked a few questions about them.</p>
                <p><b class="text-danger">You must answer these questions correctly in order to be able to complete the study.
                </b></p>
            </div>
            <div class="text-center">
                <a href="/read2"
                   class="btn btn-primary btn-rounded btn-lg mr-3">
                    Continue</a>
            </div>
        </div>
    </div>


{% endblock %}