{% extends 'base.html' %}
{% load divide_by %}
{% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            <div class="mb-6">

                <p class="text-center"><strong>Choosing a used book</strong></p>
                <p> You receive a bonus after this survey depending on the ratio of the book's <b>TRUE</b> quality and price that you purchase. For example, a book that has a true quality score of 50
                    points
                    and costs 10 dollars (ratio = 50:10 = 5) leads to a higher extra payment than a book that has a true quality score of 40 points and costs 10 dollars (ratio = 40:10 = 4). However,
                    remember that the displayed quality score may differ from the true quality score. </p>
                <p><b> Your task is to select the book that provides the highest true quality per dollar. </b></p>
                <p>The extra payment for selecting the book with <b>the highest</b> true quality/dollar ratio is $ 0.40, for selecting the book with the second highest ratio it is $ 0.38, for selecting the
                    book with the third highest score it is $ 0.36, etc.. If your purchase turns out to be the one with the lowest true quality/dollar ratio, $ 0.02 will be awarded. </p>
            </div>
            <div class="text-center">
                <a href="/read3"
                   class="btn btn-secondary btn-rounded btn-lg mr-3">
                    Back</a>
                <a href="/quiz"
                   class="btn btn-primary btn-rounded btn-lg mr-3">
                    Continue</a>
            </div>
        </div>
    </div>


{% endblock %}