{% extends 'base.html' %}
{% load divide_by %}
{% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            <div class="mb-6">
                <p class="text-center"><strong>Choosing a used book</strong></p>
                <p> Imagine that you help a family member to buy a textbook for a course they are taking. To save on costs, you decide to buy a used book. You go to an online marketplace and find that
                    there are 20 (twenty) different vendors that are offering this used book with different quality levels. </p>
                <p> The used books differ in terms of their quality level, and the family member asks you to buy the used book that provides the <b>highest quality per dollar</b> paid for the book. </p>
            </div>
            <div class="text-center">
                <a href="/read1"
                   class="btn btn-secondary btn-rounded btn-lg mr-3">
                    Back</a>
                <a href="/read3"
                   class="btn btn-primary btn-rounded btn-lg mr-3">
                    Continue</a>
            </div>
        </div>
    </div>


{% endblock %}