{% extends 'base.html' %} {% load divide_by %} {% block content %}

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
        <div class="container">
            <div class="mb-6">
                {% if wrong %}
                    <h4 class="text-danger">Please pay attention to the content and do the quiz again.</h4>
                {% endif %}
                <p class="text-center">
                    <strong>Choosing a used book</strong>
                </p>
                {% if exp_num == 1 %}
                    <p>To help your selection, each vendor indicates the price and quality condition of the book that he or she is offering for sale. Prices vary between 10 and 25 dollars.
                        Quality also varies. The quality score is provided on a 100 point scale (0= extremely poor quality; 100 = quality is as new). However, the quality score claimed by the vendor
                        may not be fully accurate.</p>
                    <p>Vendors may exaggerate the quality of the book by a factor anywhere in the range of <b>0-20%</b>. This means that the claimed quality score may be up to <b>20%</b> higher than
                        the true quality.</p>
                    <p> For example, a true quality score 50 could be exaggerated to any score between 50 - 60 with EQUAL probability. Thus, this vendor may exaggerate the score to 50 or
                        60 equally likely. You will not be able to observe the true quality score until you receive the book.</p>
                    <p> However, to assist you in your decision, the online market place independently verifies the quality of the books that the vendors offer for sale and the exaggeration will be
                        reduced to anywhere between <b>0 and 10%</b>. Thus, only the platform verified quality score will be displayed. The vendor claimed quality score will not be displayed.</p>
                {% elif exp_num == 2 %}
                    <p>To help your selection, each vendor indicates the price and quality condition of the book that he or she is offering for sale. Prices vary around between 10 and 25
                        dollars.
                        Quality also varies. The quality score is provided on a 100 point scale (0= extremely poor quality; 100 = quality is as new). However, the quality score claimed by the vendor
                        may not be fully accurate.</p>
                    <p>Vendors may exaggerate the quality of the book by a factor anywhere in the range of <b>0-50%</b>. This means that the claimed quality score may be up to <b>50%</b> higher than
                        the true quality.</p>
                    <p>For example, a true quality score 50 could be exaggerated to any score between 50 - 75 with EQUAL probability. Thus, this vendor may exaggerate the score to 50 or
                        75 equally likely. You will not be able to observe the true quality score until you receive the book. </p>
                    <p> However, to assist you in your decision, the online market place independently verifies the quality of the books that the vendors offer for sale and the exaggeration will be
                        reduced to anywhere between <b>0 and 10%</b>. Thus, only the platform verified quality score will be displayed. The vendor claimed quality score will not be displayed.</p>
                {% elif exp_num == 3 %}
                    <p>To help your selection, each vendor indicates the price and quality condition of the book that he or she is offering for sale. Prices vary between 10 and 25 dollars.
                        Quality also varies. The quality score is provided on a 100 point scale (0= extremely poor quality; 100 = quality is as new). However, the quality score claimed by the vendor
                        may not be fully accurate.</p>
                    <p>Vendors may exaggerate the quality of the book by a factor anywhere in the range of <b>0-20%</b>. This means that the claimed quality score may be up to <b>20%</b> higher than
                        the true quality.</p>
                    <p> For example, a true quality score 50 could be exaggerated to any score between 50 - 60 with EQUAL probability. Thus, this vendor may exaggerate the score to 50 or
                        60 equally likely. You will not be able to observe the true quality score until you receive the book.</p>
                {% elif exp_num == 4 %}
                     <p>To help your selection, each vendor indicates the price and quality condition of the book that he or she is offering for sale. Prices vary between 10 and 30 dollars.
                        Quality also varies. The quality score is provided on a 100 point scale (0= extremely poor quality; 100 = quality is as new). However, the quality score claimed by the vendor
                        may not be fully accurate.</p>
                      <p>Vendors may exaggerate the quality of the book by a factor anywhere in the range of <b>0-50%</b>. This means that the claimed quality score may be up to <b>50%</b> higher than
                        the true quality.</p>
                     <p>For example, a true quality score 50 could be exaggerated to any score between 50 - 75 with EQUAL probability. Thus, this vendor may exaggerate the score to 50 or
                        75 equally likely. You will not be able to observe the true quality score until you receive the book. </p>
                {% endif %}
            </div>
            <div class="text-center">
                <a href="/read2" class="btn btn-secondary btn-rounded btn-lg mr-3">
                    Back</a>
                <a href="/read4" class="btn btn-primary btn-rounded btn-lg mr-3">
                    Continue</a>
            </div>
        </div>
    </div>


{% endblock %}